@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

/* general */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0.7rem;
    background-color: rgb(83, 86, 85);
}

body::-webkit-scrollbar-thumb {
    background: rgb(170, 170, 170);
}

/* header */

header {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.175) 0%, rgba(0, 212, 255, 0.175) 100%), url('../assets/hero.jpg');
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

/* nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 0;
}

/* .sticky {
    background-color: #ffffff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
} */

.nav-menu {
    /* list-style: none; */
    padding-left: 2rem;
}

.nav-item {
    display: inline-block;
    padding: 0 25px;
}

.nav-link {
    font-size: 20px;
    color: black;
    text-decoration: none;
    position: relative;
}

.nav-link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 0.1rem;
    bottom: 0;
    left: 0;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.4s ease;
}

.nav-link:hover::before {
    transform: scaleX(1);
}

#toggle-mode-button {
    margin-right: 2rem;
}

/* hero */

.hero {
    height: 92vh;
    text-align: right;
}

.hero-text {
    padding: 25px 70px 25px 25px;
}

h1 {
    padding-bottom: 25px;
    font-weight: 300;
    font-size: 64px;
}

.slogan {
    padding-top: 25px;
    font-weight: 300;
    font-size: 36px;
}

.hero-buttons-container {
    padding-right: 40px;
}

.hero-buttons-container a {
    float: right;
    margin: 40px;
}

.hero-button {
    font-size: 50px;
    color: black;
    transition: all 0.4s ease;
}

.hero-button:hover {
    color: rgb(229, 193, 170);
}

/* main */

.content-section {
    background-color: rgb(230, 230, 230);
    padding: 2rem;
    padding-left: 16rem;
    padding-right: 16rem;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    padding-bottom: 3rem;
    text-align: center;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 0.5rem 0;
}

.logo {
    width: 150px;
    height: 150px;
}

/* about */

.about-content {
    display: flex;
    /* max-width: 60%; */
}

.portrait {
    width: 45%;
    height: 45%;
    border-radius: 20%;
    align-self: center;
}

.about-text {
    /* max-width: 800px; */
    padding-left: 5rem;
}

/* skills */

.skills-container {
    display: grid;
    /* max-width: 800px; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 6rem;
    justify-items: center;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-icon {
    font-size: 100px;
    color: black;
    transition: all 0.4s ease;
}

/* experience */

.experience-header {
    display: flex;
    justify-content: space-between;
}

.experience-body {
    display: flex;
    margin: 1rem;
}

.experience-text {
    padding-left: 2rem;
}

/* projects */

.projects-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.projects-container .logo {
    border-radius: 10% 20%;
}

.project-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-side {
    text-align: center;
}

/* contact */

/* footer */

footer {
    text-align: center;
}

/* --------------------------- */
/* dark mode */

header.dark {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 20%, rgba(0, 11, 49, 0.75) 100%), url('../assets/hero.jpg');
    color: rgb(115, 165, 164);
}

.nav-link.dark {
    color: rgb(115, 165, 164);
}

.nav-link.dark::before {
    background-color: rgb(115, 165, 164);
}

.hero-button.dark {
    color: rgb(115, 165, 164);
}

.hero-button.dark:hover {
    color: rgb(121, 100, 88);
}

.content-section.dark {
    background-color: rgb(25, 43, 70);
    color: rgb(115, 165, 164);
}

.portrait.dark {
    filter: brightness(80%);
}

.skill-icon.dark {
    color: rgb(115, 165, 164);
}