body {
    color: black;
}

.dev {
    font-family: Source Code Pro;
}

h2 {

}

section {
    
}

section:nth-of-type(odd) {
    background: linear-gradient(45deg, MistyRose, LemonChiffon);
}

section:nth-of-type(even) {
    background: linear-gradient(45deg, LightGoldenrodYellow, LightCyan) 100%;
}

i {
    color: black;
}

.skill-container {
    display: flex;
}

#portrait {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}