body {
    margin: 0px;
    padding: 0px;
    /* background: linear-gradient(45deg, #ffff97, #ffd5ed); */
    background: linear-gradient(45deg, LightGoldenrodYellow, LightCyan);
    color: black;
}